// Montserrat
@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../assets/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../assets/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

// Geologica
@font-face {
  font-family: 'Geologica';
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica_Cursive-Regular.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica_Cursive-Regular.woff") format("woff");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Geologica';
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica-Bold.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geologica';
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica-Light.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica-Medium.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica-Regular.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica-SemiBold.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../assets/fonts/Geologica/Geologica-Thin.woff2") format("woff2"),
    url("../assets/fonts/Geologica/Geologica-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

// GrandHotel
@font-face {
  font-family: 'GrandHotel';
  font-display: swap;
  src: url("../assets/fonts/GrandHotel/GrandHotel-Regular.woff2") format("woff2"),
    url("../assets/fonts/GrandHotel/GrandHotel-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
