$text-color: #393939;
$title-color: #191617;
$primary-color: #F9F5F4;
$secondary-color: #F2F1F0;
$neutral-color: #241F20;
$active-color: #f52f42;


$green-color-600: #0ba360;
$blue-color-600: #0b60a3;


$container-width: 1920px;