@import '../../../../styles/settings.scss';
.paragraph{
    margin: 20px 0;
    &__title{
        font-size: 20px;
        margin-bottom: 12px;
    }
    &__text{
        font-size: 16px;
        text-align: justify;
        margin: 8px 0;
    }
    &__table{
        width: 100%;
        border-collapse: collapse;
        border: 1px solid $neutral-color;
        margin: 16px 0;

    }

    &__rowName,
    &__rowValue{
        border: 1px solid $neutral-color;
        font-size: 14px;
        white-space: pre-line;
        word-break: keep-all;
        padding: 10px;
        height: 100%;
        vertical-align: top;
    }

    &__rowName{
        font-weight: 500;
    }
    &__rowValue{
        line-height: 1.4em;
        padding-right: 20px;
        word-break: keep-all;
    }
}