@import '../../styles/settings.scss';

.section {
  position: relative;

  &__container {
    max-width: $container-width;
    width: 100%;
    padding: 0 10px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }

  &__background {
    pointer-events: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .2;
    z-index: 0;
    max-width: $container-width;
    width: 100%;
    margin: 0 auto;
  }

  &__underline {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 15%;
    background-color: $neutral-color;
  }

}