@import '../../../../styles/settings.scss';

.adminTextArea{
    background-color: $secondary-color;
    padding: 10px 15px;
    gap: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__textArea{
        width: 100%;
        min-width: auto;
    }
    &__save{
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }
}