@import '../../styles/settings.scss';

.activeLine {
    display: block;
    position: absolute;
    height: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 3px;
    background-color: $active-color;
    margin: 0 auto;
    will-change: width, border, translate;
}